body{
	margin: 0;
	font-family: sans-serif;
}
.container{
	width: 100%;
	height: 100vh;
	background-image: url('../images/login-img.jpg');
	background-size: cover;
}
.container .sub-container{
	width: 100%;
	height: calc(100vh - 50px);
	background-color:rgba(0, 0, 0, .8);
	padding-top: 50px;
}
.container .sub-container form{
	width: 350px;
	height: 525px;
	padding: 50px 80px;
	margin: auto;
	border: 1px solid #eee;
	border-radius: 10px;
}
.container .sub-container form h1{
	margin: 0 0 30px 0;
	color: #eee;
}
.container .sub-container form label{
	color: #eee;
	font-weight: 600;
	font-size: 14px;
}

.container .sub-container form .field{
	width: 100%;
	margin: 15px 0;
	padding: 10px;
	font-size: 13px;
	color: rgba(0, 0, 0, 1.0);
	border: none;
	border-radius: 5px;
	font-weight: 600;
	background-color: rgba(255, 255, 255, .9);
}

.container .sub-container form a{
	color: rgba(255, 255, 255, .6);
	font-weight: 600;
	text-decoration: none;
	text-align: center;
 	font-size: 13px;
 	float: right;
}
.container .sub-container form .register-btn{
	padding: 10px 30px;
	font-weight: 600;
	margin-top: 30px;
	float: right;
	border: none;
	font-size: 15px;
	background-color: #185ADB;
	color: white;
}
.container .sub-container form table tr th {
	color: #eee;
	font-size: 14px;
}